@charset "utf-8";
/* CSS Document */

body{
	/*background: url(../img/fondo5.jpeg) no-repeat center;*/
	background: url(../img/mastermind.jpg);
}

footer{
	background: url(../img/footer.jpeg) no-repeat center center fixed;
    left: 0;
    position: absolute;
  	width: 100%;
  	height: 200px;
}

footer #seccion { 
	width: 400px; 
 	float:left; 
 	text-align: center;
} 





