@charset "utf-8";
/* CSS Document */

body{
	/*background: url(../img/fondo5.jpeg) no-repeat center;*/
	/*background: url(../img/mastermind.jpg);*/
}

footer{
	background: url(../img/footer.jpeg) no-repeat center center fixed;
    left: 0;
    position: absolute;
  	width: 100%;
  	height: 20%;
}

footer #seccion { 
	width: 400px; 
 	float:left; 
 	text-align: center;
} 

#tablero{
	background-color: #888888;
	border-left: 6px #222222 solid;
	border-top: 8px #222222 solid;
	border-right: 6px #222222 solid;
	border-bottom: 8px #222222 solid;
	width: 20%;
}

#region1{
	background-color: #FF0000;
}

#resultado{
	margin: auto;
}

#colores{
	padding-left: 25%;
}

#filaColores1 img{
	width: 36px;
	height: 36px;
}

#filaColores2 img{
	width: 36px;
	height: 36px;
}

#resultado3 button{
	height: 100px;
}

/*#botonSel{
	height: 36px;
}*/

#miTabla3 tr{
	height: 38px;
}

#regionOculta, #colores4, #colores5, #colores6{
	display: none;
}

#tablaAleatoria img{
	width: 36px;
	height: 36px;
}

.botones{
	width: 220px;
	height: 220px;
	padding-top: 70px;
}

#botonJugar{
	width: 350px;
	height: 350px;
}

section#instrucciones, #jugar, #opciones{
	margin-left: 110px;
	float: left;
	/*border: 1px solid grey;*/
}

section{
	float: left;
}

.logo{
	width: 50%;
	height: 5%;
}

/*img:hover {
  border: 1px solid red;
}*/

/*img:hover {
	/*border: 2px solid white;*/
	/*margin: 0;
	padding: 0;
	border-radius: 800px;
	overflow: hidden;
}*/










